* {
	box-sizing: border-box;
}

	body {
			margin: 0 15px;
			padding: 0;
	}

	h1 {
		margin-bottom: : 15px;
		text-align: center;
	}

	.container {
  		display: flex;  
	}

	#box {
		background-color: gray;
		border: 1px solid black;
		height: 150;
		padding: 0 10px 10px 10px;
		width: 90%;
		flex: 1;
  		margin: 10px 20px 30px;
	}

	#p1, #p2, #p3  {
		width: 40%;
		border: 1px solid black;
		text-align: center;
		font-size: 18px;
		font-style: bold;
		position: relative;
		padding: 5px;
		left: 64%;
		margin: 0;
		}

	#p1 {
		background-color: purple;
		color: white;
	}

	#p2 {
		background-color: pink;
		color: black;
	}

	#p3 {
		background-color: blue;
		color: white;
	}

	#content {
		color: white;
		clear: right;
	}

	.row {
		width: 100%;
	}

	@media (min-width: 992px) 
	{ 
		.col-4 {
			float: left;
		}
		.col-4 {
			width: 33%;
		}
	}	

	@media (min-width: 768px) and (max-width: 991px) 
	{
		#p1, #p2 {
			width: 40%;
			left: 63.5%;
		} 

		#p3 {
			width: 18%;
			left: 83.5%;
	}
		.col-6, .col-12 {
			float: left;
		}
		.col-6 {
			width: 50%;
		}
		.col-12 {
			width: 106%;
		}
	}